# Binários e executáveis
*.exe
*.o
*.out

# Ignorar especificamente o executável Linux dentro da pasta
# (Isso evita ignorar a pasta 'banco' inteira por engano)
banco/banco

# Pastas de IDE
.vscode/
.idea/

# Pasta de build local do CLion
cmake-build-debug/
build/
